.button {
    -fx-background-color: #3b3f41;
    -fx-border-radius: 4px;
    -fx-text-fill: #adacac;
    -fx-border-color: #5c5e5e;
}

.button:hover {
    -fx-background-color: #4a4f51;
}

.vbox {
    -fx-background-color: #3b3f41;
}

.gridPane {
    -fx-background-color: #2c2c2c;
}

.menu-item {
    -fx-background-color: #4a4f51;
    -fx-font-size: 13px;
}

.menu-item:hover {
    -fx-text-fill: #f6f6f6;
    -fx-background-color: #3591c3;
}

.menu-button:hover, .menu-button:focused, .menu-button:showing{
    -fx-background-color: #4a4f51;
}

.text-field {
    -fx-prompt-text-fill: #6a6b6b;
    -fx-text-fill: #b2b2b3;
    -fx-background-color: #2c2c2c;
}

.context-menu {
    -fx-background-color:#4a4f51;
    -fx-border-width: 1px;
}

#mainMenuBar .label:hover {
    -fx-background-color: #494e50;
}

#buttonVbox {
    -fx-background-color: #3b3f41;
    -fx-border-color: #515151;
    -fx-border-width: 0px 1px 0px 0px;
}
#subScenePane {
    -fx-background-color: #2c2c2c;
}

#cubeGridPane {
    -fx-background-color: #2c2c2c;
}
#mainMenuBar {
    -fx-background-color: #3b3f41;
    -fx-border-color: #515151;
    -fx-border-width: 0px 0px 1px 0px;
}

#mainMenuBar .label {
    -fx-text-fill: #adacac;
}
