#pageOptions {
    -fx-background-color: #3b3f41;
}

.label {
    -fx-text-fill: #adacac;
    -fx-font-size: 15px;
    -fx-label-padding: 3px;
}

.label:hover {
    -fx-text-fill: #5b92b7;
    -fx-underline: true;
}